---
import { getCollection } from "astro:content";

const notes = (await getCollection("notes")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<h1>Notes</h1>

<ul>
  {notes.map((note) => (
    <li>
      <a href={`/notes/${note.id}/`}>
        {note.data.title}
      </a>
    </li>
  ))}
</ul>
