---
import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<h1>Projects</h1>

<ul>
  {projects.map((project) => (
    <li>
      <a href={`/projects/${project.id}/`}>
        {project.data.title}
      </a>
    </li>
  ))}
</ul>
