---
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("labs");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<h1>{post.data.title}</h1>

<Content />
