---
import { getCollection } from "astro:content";

const labs = (await getCollection("labs")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<h1>Labs</h1>

<ul>
  {labs.map((lab) => (
    <li>
      <a href={`/labs/${lab.id}/`}>
        {lab.data.title}
      </a>
    </li>
  ))}
</ul>
